In [1]:
# #Making new smaller .csv

# import pandas as pd
# df=pd.read_csv("static/Files/Result_Data.csv")
# del df['IATA_Airline']
# del df['FlightNumber']
# del df['TailNumber']
# del df['CRSDepTime']
# del df['CRSArrTime']
# del df['CRSElapsedTime']
# del df['Distance']
# del df['CancellationCode']
# del df['DepTime']
# del df['ArrTime']
# del df['ActualElapsedTime']
# del df['AirTime']
# del df['TaxiOut']
# del df['WheelsOff']
# del df['WheelsOn']
# del df['TaxiIn']
# df.to_csv("static/Files/ResultDataForAirports.csv",index=False)

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
df=pd.read_csv("static/files/ResultDataForAirports.csv")
df

,ID,FlightDate,Origin,Dest,Cancelled,Diverted,DepDelay,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,2015-01-01,JFK,LAX,0,0,-5,7,0,0,0,0,0
1,2,2015-01-01,LAX,JFK,0,0,-4,-44,0,0,0,0,0
2,3,2015-01-01,JFK,LAX,0,0,-4,-2,0,0,0,0,0
3,4,2015-01-01,LAX,JFK,0,0,-6,-17,0,0,0,0,0
4,5,2015-01-01,DFW,HNL,0,0,289,300,197,0,11,0,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31746836,31746837,2019-12-31,TUS,LAX,0,0,33,3,0,0,0,0,0
31746837,31746838,2019-12-31,TUS,MDW,0,0,-6,-26,0,0,0,0,0
31746838,31746839,2019-12-31,TUS,SAN,0,0,16,8,0,0,0,0,0
31746839,31746840,2019-12-31,TUS,SAN,0,0,-3,-22,0,0,0,0,0
31746840,31746841,2019-12-31,TUS,SJC,0,0,10,-15,0,0,0,0,0

In [6]:
df2=df[['FlightDate','DepDelay','ArrDelay','Cancelled']]
df2

          FlightDate  DepDelay  ArrDelay  Cancelled
0         2015-01-01        -5         7          0
1         2015-01-01        -4       -44          0
2         2015-01-01        -4        -2          0
3         2015-01-01        -6       -17          0
4         2015-01-01       289       300          0
...              ...       ...       ...        ...
31746836  2019-12-31        33         3          0
31746837  2019-12-31        -6       -26          0
31746838  2019-12-31        16         8          0
31746839  2019-12-31        -3       -22          0
31746840  2019-12-31        10       -15          0

[31746841 rows x 4 columns]

In [21]:
#df2['DepDelay'] = pd.to_numeric(df2['DepDelay'])

In [36]:
df_tot=df2.groupby('FlightDate').agg(Tot=pd.NamedAgg(column='FlightDate', aggfunc=lambda x: x.count())).reset_index()

minDelay=0

df_dep=df2[df2['DepDelay'] > minDelay].groupby('FlightDate')['DepDelay'].count().reset_index()
df_arr=df2[df2['ArrDelay'] > minDelay].groupby('FlightDate')['ArrDelay'].count().reset_index()
df_can=df2[df2['Cancelled'] > 0].groupby('FlightDate')['Cancelled'].count().reset_index()

In [54]:
df_tot.iloc[0][1]
df_dep.iloc[1,1]

8171

In [56]:
for i in range(len(df_tot)):
    df_dep.iat[i,1]=(df_dep.iloc[i][1]*100)/df_tot.iloc[i][1]
    df_arr.iat[i,1]=(df_arr.iloc[i][1]*100)/df_tot.iloc[i][1]
    df_can.iat[i,1]=(df_can.iloc[i][1]*100)/df_tot.iloc[i][1]

In [58]:
df_final=pd.merge(pd.merge(df_dep,df_arr,on='FlightDate'),df_can,on='FlightDate')
df_final

      FlightDate  DepDelay  ArrDelay  Cancelled
0     2015-01-01        41        40          3
1     2015-01-02        48        50          1
2     2015-01-03        61        64          2
3     2015-01-04        65        67          2
4     2015-01-05        56        54          2
...          ...       ...       ...        ...
1821  2019-12-27        37        32          0
1822  2019-12-28        44        41          1
1823  2019-12-29        45        39          1
1824  2019-12-30        43        39          1
1825  2019-12-31        35        29          0

[1826 rows x 4 columns]

In [59]:
#ap_df=createAirportCSV('MCI')
df_final.to_csv("static/files/csvData.csv",index=False)